In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np

In [13]:
from db.schemas import JobBase
import dual_momentum as dm

job = JobBase(
    start_year=2016,
    start_month=1,
    end_year=2025,
    end_month=6,
    tickers='SPY,VEU',
    safe_asset='AGG',
    initial_investment=10_000,
    rebalance_period=1,
    lookback_period=12,
    switching_cost=0,
    max_assets=1,
    user='notebook',
)

results = dm.dual_momentum(job)
dm.humanize_portfolio(results.portfolio)

,Selected Asset,Dual Momentum Return,Switching Cost,Dual Momentum Balance,SPY Return,SPY Balance,AGG Return,AGG Balance,VEU Return,VEU Balance,DGS3MO Return,DGS3MO Balance
Date,,,,,,,,,,,,
2016-01-29,SPY,-4.98%,0.0%,9502.133,-4.98%,9502.133,1.24%,10124.060,-5.6%,9440.222,0.03%,10002.746
2016-02-29,AGG,0.89%,0.0%,9586.420,-0.08%,9494.288,0.89%,10213.864,-2.44%,9209.859,0.03%,10005.492
2016-03-31,AGG,0.87%,0.0%,9670.271,6.73%,10132.929,0.87%,10303.203,8.3%,9974.547,0.02%,10007.242
2016-04-29,SPY,0.39%,0.0%,9708.384,0.39%,10172.866,0.25%,10329.471,2.11%,10184.908,0.02%,10009.075
2016-05-31,SPY,1.7%,0.0%,9873.538,1.7%,10345.921,0.01%,10330.873,-0.79%,10104.000,0.03%,10011.906
...,...,...,...,...,...,...,...,...,...,...,...,...
2025-01-31,SPY,2.69%,0.0%,20801.591,2.69%,34425.770,0.52%,11367.265,3.41%,17938.892,0.35%,12017.452
2025-02-28,SPY,-1.27%,0.0%,20537.517,-1.27%,33988.739,2.24%,11621.593,2.07%,18310.543,0.35%,12059.881
2025-03-31,SPY,-5.57%,0.0%,19393.183,-5.57%,32094.914,-0.03%,11618.539,0.41%,18384.875,0.35%,12102.460
2025-04-30,SPY,-0.87%,0.0%,19225.042,-0.87%,31816.647,0.43%,11668.620,2.77%,18894.051,0.35%,12145.092
2025-05-30,VEU,4.64%,0.0%,20116.289,6.28%,33816.162,-0.61%,11597.805,4.64%,19769.954,0.36%,12188.361

In [ ]:
trades

In [ ]:
ticker = yf.Ticker('VBMFX').history(period='max')
ticker

In [55]:
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [2, 3, 4, 5]})
s = pd.Series(index=df.columns, data=10.0)
s.name = 'test'
s[['A']] = -2
s.abs().sum()

np.float64(12.0)

In [2]:
from db.schemas import JobBase
import dual_momentum as dm

job = JobBase(
    start_year=1990,
    start_month=1,
    end_year=2025,
    end_month=6,
    tickers='SPY,VEU',
    safe_asset='AGG',
    single_absolute_momentum='SPY',
    initial_investment=10_000,
    rebalance_period=1,
    lookback_period=12,
    switching_cost=0.2,
    max_assets=2,
    user='notebook',
)

results = dm.dual_momentum_multi(job)
dm.humanize_portfolio(results.portfolio)

KeyboardInterrupt:

In [4]:
df = results.holdings.copy()
df['Sum'] = df.sum(axis=1)
df

                    SPY          AGG          VEU  DGS3MO           Sum
Date
2016-01-29  4741.564248  5051.905938     0.000000     0.0   9793.470186
2016-02-29     0.000000  9870.774159     0.000000     0.0   9870.774159
2016-03-31     0.000000  9957.112611     0.000000     0.0   9957.112611
2016-04-29  4988.181852  4991.249253     0.000000     0.0   9979.431105
2016-05-31  5074.594557  4990.392692     0.000000     0.0  10064.987249
...                 ...          ...          ...     ...           ...
2025-01-31  9306.138385     0.000000  9372.131088     0.0  18678.269474
2025-02-28  9220.510410     0.000000  9532.619243     0.0  18753.129653
2025-03-31  8853.815432     0.000000  9414.629192     0.0  18268.444624
2025-04-30  9054.471382     0.000000  9387.197898     0.0  18441.669280
2025-05-30  9799.963873     0.000000  9648.300388     0.0  19448.264261

[113 rows x 5 columns]

In [3]:
results.trades

                   VEU  AGG         SPY  DGS3MO
Date
2014-12-31    0.000000  0.0    0.000000     0.0
2015-01-30    0.000000  0.0    0.000000     0.0
2015-02-27    0.000000  0.0    0.000000     0.0
2015-03-31    0.000000  0.0    0.000000     0.0
2015-04-30    0.000000  0.0    0.000000     0.0
...                ...  ...         ...     ...
2025-01-31    9.229103  0.0   -9.247598     0.0
2025-02-28  -32.996352  0.0   32.930359     0.0
2025-03-31 -156.054416  0.0  155.742307     0.0
2025-04-30 -280.406880  0.0  279.846066     0.0
2025-05-30 -166.363258  0.0  166.030531     0.0

[126 rows x 4 columns]